
{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="wrapper">

        <!-- Default login form goes here -->
        <form action="/register" method="post">
            <h1>Register</h1>
            <div class="input-box">
                <input type="text" placeholder="Username" required name="username">
                <i class="bx bxs-user"></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" required name="password">
                <i class="bx bxs-lock"></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Confirm Password" required name="confirmation">
                <i class="bx bxs-lock"></i>
            </div>



            <button type="submit" class="btn">Register</button>


        </form>

    </div>
{% endblock %}
